#banner {
	background-image: image-url("cinelli.jpg");
	padding:270px 0;
	width: 100%;
	color:black;
	 h1 {
	font-size: 80px;
	padding-left: 50px;
	}
	p {
	padding-left: 50px;
	}
	a {
	margin-left: 200px;
	}
}
