---
title: Welcome to Mission Potosí
---


    <div id="banner">
          <h1>Mission Potosí</h1>
          <p>Aidez-nous à améliorer le quotidien des habitants de Potosi.</p>

          <a href="" class="btn btn-success btn-lg"> More informations</a>
    </div>

    <div class="container">
      <div class="row">
        <div class="xs-col-12 sm-col-4"> <p>1</p> </div>
        <div class="xs-col-12 sm-col-4"> <p>2</p></div>
        <div class="xs-col-12 sm-col-4"> <p>3</p></div>
      </div>
    </div>
    
    <div id="contact" class="text-center">
      <h2>Get in touch !</h2>
      <p> Leave us your mail and we will contact you.</p>
      <form action="" class="form-inline">
        <input type="email" class="form-control" placeholder="you@gmail.com">
        <input type="submit" value="Subscribe" class="btn btn-success">
      </form>
    </div>



